# Dependencies
node_modules/

# Env files - KHONG BAO GIO push file .env that len Git
.env
.env.local

# Build output
dist/
build/

# Editor / OS
.vscode/*
!.vscode/extensions.json
.DS_Store
Thumbs.db

# Log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
